.git
node_modules
*.log
package-lock.json

Стек технологии : 
    1. База - postgresql.
    2. Стек - bun.js + typescript.

Сервера :
    3. Сервер с бэкапом. Размещение бд и веб сервера на одном сервере, хранится только никнейм и прогресса, без мультиплеера.
    В случае такой сильной нагрузкой, мы горизонтально масштабируемся, запросим еще серверов. 


Авторизация и микротразназакции:
    4. Авторизация будет проходить внутри игры с помощью регистрации никнема и пароля, либо через google sign-in (Unity plugin)
    5. Микротранзакции будут реализованы через Unity IAP.